* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #fefefe;
}

header {
  display: flex;
  min-height: 100vh;
}

.bg {
  height: 88vh;
  background-image: linear-gradient(90deg, #FF8A70, #FF4559);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 0 0 0 80px;
}

.bg img {
  position: relative;
  right: 460px;
  bottom: 1350px;
}

.container {
  width: 100%;
  margin: 1rem;
  position: absolute;
}

.content {
  margin: 0 3rem;
  padding: 2rem 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.nav-links {
  display: inline;
  list-style: none;
}

.nav-links li {
  list-style: none;
}

.hero-section {
  display: flex;
  justify-content: center;
}

/* .hero {
  width: 100%;
  padding: 50px 150px;
  position: absolute;
} */

/* .header {
  display: flex;
  justify-content: space-between;
} */

/* .navbar {
  display: flex;
} */